@model Sandbox.Controllers.HomePageViewModel 
<html xmlns="http://www.w3.org/1999/xhtml"> 
   <head> 
       <title>Home</title> 
   </head> 

   <body> 
      <h1>Welcome!</h1> 
      
      <table> 
         @foreach (var user in Model.Users) { 
          <tr>
              <td>
                  @Html.ActionLink(user.UserName.ToString(), "Details", new
        { id = user.UserName })
              </td>
              <td>@user.UserName</td>
              <td>@user.Password</td>
          </tr> 
         } 
      </table> 
   </body> 
</html>
